.sidebar {
    background-color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
}

.sidebar-header {
    padding: 12px 0px;
    border-bottom: 3px solid var(--primary);
}

.sidebar-header > h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0 0 0 10px;
    font-size: 1.2em;
}

.sidebar-section {
    border-bottom: 1.5px solid var(--light-gray);
}

h3 {
    color: rgb(40, 40, 40);
    font-size: 1em;
    padding: 16px 10px 16px 10px;
    margin: 0px;
}

.section-list > p {
    color: var(--dark-gray);
    font-weight: 600;
    padding: 10px 5px 10px 15px;
    margin: 0px;
}

.tools > p {
    border-left: 0;
}

.tools > p:hover {
    color: black;
    background-color: rgb(240, 240, 240);
}

i {
    margin-right: 10px;
}

.active {
    color: var(--primary) !important;
    background-color: white;
    border-right: 5px solid var(--primary);
}

.active > i {
    color: var(--primary) !important; 
}

.link:hover {
    color: black;
    background-color: rgb(240, 240, 240);
}